
*{
	box-sizing: border box;
}
h1{
	outline:1px solid black;
	color:white;
	box-sizing: border-box;
	background-color:grey;
	margin:10px auto;
	border:2px;
	border-color:grey;
	width:25%;
}
.container{
	box-sizing: border-box;
	background-color:black;
	margin:50px auto;
	width:40%;
	height:250px;
	padding:25px;
	border:1px solid #000; /*dotted dashed*/
	border-top:1px dashed #005588;
	border-color:grey;
}
nav{
	padding:10px;
	background-color: #eeff88;
}
nav ul li{
	list-style:none;
	display:inline-block;
	width:10%;
	background-color: #ff6600;
	padding: 10px 0;
	text-align:center;
}
nav ul li:hover{background-color:#000;}
nav ul li a{
	text-decoration: none;
}